html, body {  
    overscroll-behavior: none;
    /* @apply bg-yellow-50; */
    background-color: #f6f2ef;
    /* bg-gradient-to-r from-blue-500 via-purple-500 to-red-500 */
}

.custom-bg {
    background-color: #f6f2ef;
}